{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}File App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
        <!-- <header>
            <h1>مدیریت فایل‌ها</h1>
            <nav>
                <a href="{% url 'uploadfile:home' %}">🏠 خانه</a>
            </nav>
        </header> -->
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer></footer>
    </div>
</body>
</html>